*{
	margin: 0px;
	padding: 0px;
}
body{
	/*margin-top:4%;*/
	background: url(assets/OSC_Legal-Desktop-Grafismo.svg);
	background-repeat: no-repeat;
	background-position: right top;
	/*background-size: 100% 40%;*/
}
main {
	/*position: relative;*/
	/*left: 8%;*/
	width: 100%;
	height: 100%;
}
section {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding-top: 20px;
	min-height: 100vh;
	border: solid 1px black;
	border-right: 0px;
	border-left: 0px;
	margin-top:5%;
}
/*section:nth-child(1){
	padding-top: 5%;
	background: blue;
}
section:nth-child(2){
	background: red;
}
section:nth-child(3){
	background: green;
}
section:nth-child(4){
	background: pink;
}*/
section div p{
	width: 60%;
}
.menu {
	width: 8%;
	padding-top:0px;
	margin-left: 8%;
	align-self: flex-start;
}
div{
	margin-left: 11%;
}
#logo {
	width: 100%;
	margin-bottom: 50px;
}
/*nav ul {
	
}*/
nav ul li{
	/*display: block;*/
	list-style-type: none;
	font-family: ProximaNova-Medium;
	font-size: 1.13em;
	color: rgb(218, 47, 40);
	font-style: normal;
	text-align: left;
	line-height: 1.88em;
	letter-spacing: 0.05em;
}
.menu-destaque {
	font-family: ProximaNova-Black;
	font-size: 1.13em;
	color: #000;
	font-style: normal;
	text-align: left;
	line-height: 1.88em;
	letter-spacing: 0.05em;
}
h1 {
	font-family: ProximaNova-Black;
	font-size: 2.5em;
	font-style: normal;
	text-align: left;
	line-height: 1.88em;
	letter-spacing: 0.05em;
}

#servicos {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/*min-width: 100%;*/
}
.servicos-itens{
	/*display: none;*/
	min-height: 100vh;
	/*min-width: 100vw;*/
	padding-top: 10%;
}	
/*#serv-menu-1 a:active #criacao{
		display: block;
}*/
/*#criacao{
	display: block;
}*/
#links {
	display: flex;
	flex-direction: column;
}
#links-itens{
	display: flex;
	margin-bottom: 7%;
}
#links-itens div p {
	width: 70%;
}
#img-links {

}
#abong {
	width: 9%;
	height: 10%;
}
#siconv {
	width: 11%;
	height: 20%;
}
#participa {
	width: 18%;
	height: 9%;
}
}