html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body{
	background: url(assets/OSC_Legal-Desktop-Grafismo.svg);
	background-repeat: no-repeat;
	background-position: right top;
}

header {
	display: flex;
	flex-direction: column;
	max-width: 8%;
	position: fixed;
	left: 8%;
	top: 15%;
	z-index: 2;
}

.logo {
	width: 100%;
	min-width: 100px;
	margin-bottom: 20px;
}

nav ul {
	padding: 0;
}

nav ul li{
	list-style-type: none;
}

nav ul li a {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 500; /*medium*/
	font-size: 1.13em;
	color: rgb(218, 47, 40);
	text-align: left;
	line-height: 1.88em;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a:hover /*> .drop*/ {
	/*display:block;*/
	color: #000;
	font-weight: 900; /*black*/
}

nav .drop {
	/*display:none;*/
	margin-left: 15px;
}

nav .drop li a {
	font-family: "proxima-nova-extra-condensed", sans-serif;
	font-style: normal;
	font-weight: 500; /*semibold*/
	font-size: 1.13em;
	color: #000;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

nav .drop li a:hover {
	font-weight: 900; /*black*/	
}


main {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	z-index: 1;
}
main section:first-child {
	display: none;
}
section {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100vh;
	padding-top: 10%;
	padding-left: 5%;
	margin: 0 auto;
	width: 60%;
}

section h1 {
	margin: 0;
	padding-bottom: 3%;
}

h1 {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900; /*black*/
	font-size: 2.5em;
	color: #000;
	text-align: left;
	line-height: 1.2em;
	letter-spacing: 0.05em;
}

section p {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 500; /*medium*/
	font-size: 1.25em;
	color: #000;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
	margin: 0.5em 0;

}

#servicos .lista {
	padding: 0;
	margin: 0;
	counter-reset: awesome-counter;
}

#servicos .lista li:before {
	content: counter(awesome-counter);
	counter-increment: awesome-counter;
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900; /*black*/
	font-size: 3.13em;
	color: rgb(218, 47, 40);
	margin-right: 0.5em;
	display: inline-block;
	
}

#servicos .lista li {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 500; /*medium*/
	font-size: 1.25em;
	color: #000;
	text-align: left;
	line-height: 2.68em;
	margin-bottom: 0.5em;
	overflow: hidden;
}

#servicos .parg-blk{
	/*font-family: "proxima-nova", sans-serif;
	font-style: normal;*/
	font-weight: 900; /*black*/
}

#servicos a{
	color:#000;
}

#servicos a p{
	margin-top: -2px;		
}

#servicos ol {
	padding-left: 0;
}

#servicos ol li {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900; /*black*/
	color: rgb(218, 47, 40);
	font-size: 1.2em;
	list-style-type: none;
}


#servicos ol li a {
	color: rgb(218, 47, 40);
	font-weight: 800; /*ExtraBold*/
}

#servicos-responsivo {
	display: none;
}

#servicos-responsivo .lista {
	padding: 0;
	margin: 0;
	counter-reset: awesome-counter;
}

#servicos-responsivo .lista li {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 500; /*medium*/
	font-size: 0.94em;
	line-height: 2.3em;
	letter-spacing: 0.05em;
	margin-bottom: 0.5em;
	overflow: hidden;

}

#servicos-responsivo .lista li:before {
	content: counter(awesome-counter);
	counter-increment: awesome-counter;
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900; /*black*/
	color: rgb(220, 49, 40);
	font-size: 3.13em;
	letter-spacing: 0;
	margin-right: 0.5em;
	display: block;

}

#servicos-responsivo .parg-blk{
	font-weight: 900; /*black*/
}

#servicos-responsivo a{
	color:#000;
}

#servicos-responsivo a p{
	margin-top: -2px;		
}

#servicos-responsivo ol {
	padding-left: 0;
}

#servicos-responsivo ol li {
	list-style-type: none;
}

#servicos-responsivo ol li a {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900; /*black*/
	color: rgb(218, 47, 40);
	text-decoration: underline;
	font-size: 0.94em;
	line-height: 1.07em;
	letter-spacing: 0.05em;
}

#contato ul {
	padding: 0;
	margin: 0;
}
#links {
	padding-top: 5%;
}
#links div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 2% 0;
	min-height: 40%;
	max-width: 80%;
}

#links a{
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900; /*black*/
	font-size: 1.5em;
	color: #000;
	text-decoration: none;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
}

#links .img-links {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-links .logo1 {
	margin: 0;
	max-width: 80%;
}
.img-links .logo2 {
	margin: 0;
	max-width: 70%;
}
.img-links .logo3 {
	margin: 0;
	width: 120%;
}
#links .links-content {
	display: flex;
	flex-direction: column;
	/*justify-content: flex-start;*/
	/*align-items: flex-start;*/
	margin-left: 40px;
	width: 70%;
}

#links .links-content p {
	margin-top: -2%;

}

#contato ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
}
#midias a p {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900; /*black*/
	font-size: 1.5em;
	color: #000;
	text-decoration: underline;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
}

#midias p {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 500; /*medium*/
	font-size: 1.13em;
	color: rgb(218, 47, 40);
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
}
#contribua h2{
	font-family: "proxima-nova", "proxima-nova-extra-condensed", sans-serif;
	font-style: normal;
	font-weight: 900; /*black*/
	font-size: 1.25em, 1.5em;
	color: rgb(218, 47, 40);
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
#contribua p {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 500; /*medium*/
	font-size: 1.25em;
	color: #000;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
#contribua p span {
	font-family: "proxima-nova-extra-condensed", sans-serif;
	font-style: normal;
	font-weight: 900; /*black*/
	font-size:1.25em;
	color: #000;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
#contato p,
#contato ul li {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 500; /*medium*/
	font-size: 2em;
	color: rgb(218, 47, 40);
	font-style: normal;
	line-height: 1.2em;
	letter-spacing: 0em;
}
#contato p {
			font-weight: 900; /*black*/
	}
@media (max-width: 1000px){
	body {
		background-size: cover;
	}
	section {
		padding-top: 10%;
		width: 50%;
	}
	section:nth-child(2) {
		margin-top:20%;
	}
	#links div {
		flex-direction: column;
		align-items: stretch;
	}
	#links .img-links {
		width: 50%;
		align-self: center;
	}
}

@media (max-width: 900px) {
	body {
		background: none;
		background: url(assets/OSC_Legal-Mobile-Grafismos-Topo.svg) no-repeat right top,
		 url(assets/OSC_Legal-Mobile-Grafismos-Footer.svg) no-repeat right bottom;
	}
	header {
		display: none;
	}
	main section:first-child{
		display: block;
		padding: 0;
		margin-top: 20%;
		margin-left: 20%;
	}
	main .logo {
		width: 30%;
	}
	main section {
		width: 83%;
		min-height: auto;
		margin-top: 15%;
	}
	main section:nth-child(2){
		margin-top: 5%;
	}
	
	#servicos {
		display: none;
	}

	#servicos-responsivo {
		display: block;		
	}
	#servicos-responsivo div{
		margin-top: 15%;
	}
	#servicos-responsivo div:frist-child{
		margin-top: 0%;
	}

	#links div {
		display: flex;
		flex-direction: column;
		margin-bottom: 5%;
	} 

	#links .img-links {
		align-self: flex-start;
		margin-left: 30%;
		margin-bottom: 10%;
	}
	#links .img-links .logo3 {
		margin-left: 50%;
	}
	#links .links-content{
		margin: 0;
	}
	#contato {
		margin-bottom: 50%;
	}
}
@media (max-width: 750px){
	#links .img-links .logo3 {
		margin-left: 20%;
	}
}	
@media (max-width: 600px) {
	body {
		background: none;
		background: url(assets/OSC_Legal-Mobile-Grafismos-Footer.svg);
		background-repeat: no-repeat;
		background-position: right bottom;
	}
	main {
		background: url(assets/OSC_Legal-Mobile-Grafismos-Topo.svg);
		background-repeat: no-repeat;
		background-position: right top;
	}
	
	h1 {
		color: rgb(5, 7, 8);
		font-size: 1.88em;
	}	

	section p {
		font-size: 0.94em;
		color: rgb(5, 7, 8);
		text-align: left;
	}
	#links a{
		font-size: 0.94em;
		color: rgb(5, 7, 8);
		line-height: 1.07em;
	}
	#midias a p {
		font-size: 1.13em;
		color: rgb(5, 7, 8);
		line-height: 1.16em;
	}

	#midias p {
		font-size: 0.94em;
		color: rgb(220, 49, 40);
		line-height: 1.16em;

	}
	#contribua h2{
		font-size: 1.5em;
		color: rgb(220, 49, 40);
	}
	#contribua p {
		color: rgb(5, 7, 8);
	} 

	#contribua p span {
		color: rgb(5, 7, 8)
		font-style: normal;
	}
	#contato p,
	#contato ul li {
		font-size: 1.63em;
		color: rgb(220, 49, 40);
		line-height: 1.16em;
	}

}