html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body{
	background: url(assets/OSC_Legal-Desktop-Grafismo.svg);
	background-repeat: no-repeat;
	background-position: right top;
}

header {
	display: flex;
	flex-direction: column;
	max-width: 8%;
	position: fixed;
	left: 8%;
	top: 15%;
	z-index: 2;
}

header .logo {
	width: 100%;
	min-width: 100px;
	margin-bottom: 20px;
}

nav ul {
	padding: 0;
}

nav ul li{
	list-style-type: none;
}

nav ul li a {
	font-family: "proxima-nova", "courier", arial;
	font-style: normal;
	font-weight: 500;
	font-size: 1.13em;
	color: rgb(218, 47, 40);
	text-align: left;
	line-height: 1.88em;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: uppercase;
}

.drop {
	position: static;
	display:none;
	margin-left: 15px;
}

.drop a {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.13em;
	color: #000;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0.05em;
	text-transform: uppercase;

}

nav ul li:hover > .drop {
	display:block;
}

main {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	z-index: 1;
}

section {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100vh;
	padding-top: 15%;
	padding-left: 5%;
	margin: 0 auto;
	width: 60%;
}

section h1 {
	margin: 0;
}

section p {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.25em;
	color: #000;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
	margin: .5em 0;
}

h1 {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 2.5em;
	text-align: left;
	line-height: 1.88em;
	letter-spacing: 0.05em;
}


/*.serv-menu{
	font-family: ProximaNovaExCn-Black,  ProximaNovaExCn-Semibold;
	font-size: 1.13em;
	color: #000;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0.05em;
}*/

#servicos ol {
	padding: 0;
	margin: 0;
	counter-reset: awesome-counter;
}

#servicos ol li {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 600;	
	margin-bottom: .5em;
	overflow: hidden;

}

#servicos ol li:before {
	content: counter(awesome-counter);
	counter-increment: awesome-counter;
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 2.5em;
	margin-right: .5em;
	display: inline-block;
	color: rgb(218, 47, 40);
}

#contato ul {
	padding: 0;
	margin: 0;
} 

#links div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 2% 0;
	min-height: 40%;
}
#links .img-links {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-grow: 1;*/
}
.img-links .logo1 {
	margin: 0;
	max-width: 50%;
}
.img-links .logo2 {
	margin: 0;
	max-width: 70%;
}
.img-links .logo3 {
	margin: 0;
	width: 100%;
}
#links .links-content {
	display: flex;
	flex-direction: column;
	/*justify-content: flex-start;*/
	/*align-items: flex-start;*/
	margin-left: 40px;
	width: 70%;
}

#links .links-content p {
	margin-top: -2%;

}

#contato ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
}
#midias a p {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 1.5em;
	color: #000;
	text-decoration: underline;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
}

#midias p {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.13em;
	color: rgb(218, 47, 40);
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
}
#contribua h2{
	font-family: "proxima-nova", "proxima-nova-extra-condensed", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 1.25em, 1.5em;
	color: rgb(218, 47, 40);
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
#contribua p {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.25em;
	color: rgb(0, 0, 0);
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
#contribua p span {
	font-family: "proxima-nova-extra-condensed", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size:1.25em;
	color: rgb(0, 0, 0)
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
}
#contato p,
#contato ul li {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 2em;
	color: rgb(218, 47, 40);
	font-style: normal;
	line-height: 1.2em;
	letter-spacing: 0em;
}

@media (max-width: 960px) {
	body {
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		background-size: cover;
		display: flex;
		flex-direction: column;
	}

	main {
		/*display: flex;
		flex-direction: column;*/
		/*width: 100%;*/
		/*margin: 0;*/
	}

	main section {
		width: 70%;
		margin: 0;
		padding: 0;
		margin-top: 5%;
	}

	main section h1 {
		margin-top: 70%;
	}

	header {
		position: absolute;
		top: 2%;
		left: 15%;
		max-width: 70%;
	}

	header img {
		max-width: 150px;
	}

	nav {
		visibility: hidden;
	}

	#links div {
		display: flex;
		flex-direction: column;
	} 

	#links .links-content{
		margin: 0;
	}

}
@media (max-width: 600px) {
	body {
		background: none;
		background: url(assets/OSC_Legal-Mobile-Grafismos-Footer.svg);
		background-repeat: no-repeat;
		background-position: right bottom;
	}
	main {
		background: url(assets/OSC_Legal-Mobile-Grafismos-Topo.svg);
		background-repeat: no-repeat;
		background-position: right top;
	}
}